<div id="footer" class="text-muted">
    <p class="text-center"> Copyright © 2017. <span class="rwd-line">Website written by <a href="//www.marissatwitchell.com/#">Marissa Twitchell</a></span></p>
</div>