<div id="footer" class="text-muted">
    <p class="text-center"> Copyright © 2018. <span class="rwd-line">Website written by <a href="//www.linkedin.com/in/marissatwitchell?trk=profile-badge" target="_blank">Marissa Twitchell</a></span></p>
</div>
